<!--Injecting nav component-->
<app-nav></app-nav>

<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
     
   
      <div class="card-body">
      
        <router-outlet></router-outlet>
   
    
    
      </div>
    </div>
  </div>

  <footer class="page-footer font-small mdb-color lighten-3 pt-4 card-body">
  
    <div class="footer-copyright text-center py-3">All Rights Reserved 2020 @Sakshi-Coforge Ltd</div>
    
  </footer>
