.back{
    height:50em; background-size:cover; width:auto;
    background-image:url('/assets/images/inventory.jpg');
    background-position:50% 50%;
  }
 #ims{
  padding-top: 175px;
  width: 1000px;
  
 } 
 h3{
  text-align: center;
  color: blueviolet;
  font-family: cursive;
  padding-top: 55px;
 }